<html>
<head>
    <title>Arturo Bot</title>
    <link rel="stylesheet" href="/css/chat.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
    <script>
        function getTime() {
            let now = new Date();
            let h = now.getHours();
            let m = now.getMinutes();
            let ampm = "AM";
            if (h > 12) {
                h = h - 12;
                ampm = "PM";
            }
            return h + ":" + m + " " + ampm;
        }

        let timeout;
        let initiationAttempts = 0;
        let maxInitiationAttempts = 1;
        $.when($.ready).then(function () {
            let aInitiate = function() {
                stopWaiting();
                $.getJSON("/api/initiate", function (data) {
                    appendAMessage(data.arturo);
                });
            };

            let aDismiss = function () {
                stopWaiting();
                $.getJSON("/api/dismiss", function (data) {
                    appendAMessage(data.arturo);
                });
            };

            let stopWaiting = function() {
                if (timeout) clearTimeout(timeout);
            };

            let startWaiting = function() {
                if(timeout) clearTimeout(timeout);
                let seconds = 10+-Math.log(Math.random())*15;
                timeout = setTimeout(function() {
                    ++initiationAttempts;
                    if (initiationAttempts <= maxInitiationAttempts) {
                        aInitiate();
                    } else if (initiationAttempts === (maxInitiationAttempts + 1)) {
                        aDismiss();
                    }
                }, seconds*1000);
            };

            let appendMyMessage = function(message) {
                let messageTemplate = $("#message-template").html();
                let now = getTime();
                $(messageTemplate
                    .replace("{{message}}", message)
                    .replace("{{time}}", now)
                ).appendTo("#message-queue");
                $('.chat-history').prop("scrollTop", $('.chat-history').prop('scrollHeight'));
            };
            let appendAMessage = function(message) {
                let reponseTemplate = $("#message-response-template").html();
                $("#typing").css('visibility', 'visible');
                let content;
                let typingTime;
                if (typeof message === 'object') {
                    content = `<img src="/img/${message.img}">`;
                    typingTime = 2000;
                } else if (typeof message === 'string') {
                    content = message;
                    typingTime = message.length * 160; // Arturo types at 75 WPM, which is roughly 0.16 seconds per character
                }
                setTimeout(function() {
                    $(reponseTemplate
                        .replace("{{message}}", content)
                        .replace("{{time}}", getTime())
                    ).appendTo("#message-queue");
                    $("#typing").css('visibility', 'hidden');
                    $('.chat-history').prop("scrollTop", $('.chat-history').prop('scrollHeight'));
                    startWaiting();
                }, typingTime);
            };
            let fetchResponse = function(message) {
                if (message.length > 0) {
                    stopWaiting();
                    initiationAttempts = 0;
                    maxInitiationAttempts = 1 + Math.round(Math.random());
                    $.getJSON("/api/ask/" + encodeURIComponent(message||"..."), function (data) {
                        appendMyMessage(data.you);
                        appendAMessage(data.arturo);
                        $('#message-to-send').val("");
                    });
                }
            };
            let send = function (event) {
                event.preventDefault();
                let message = $('#message-to-send').val();

                fetchResponse(message);
            };
            $("#send-button").on("click", send);
            $("#message-to-send").on("keydown", function(event) {
                startWaiting();
                if ((event.code || event.keyCode) === 13) {
                    event.preventDefault();
                    send(event);
                } else {
                    return true;
                }
            });

            let greet = function () {
                appendAMessage('¿Que pajó, papi?');
            };

            greet();
        });
    </script>
</head>
<div class="container clearfix">
    <div class="people-list" id="people-list">
        <ul class="list">
            <li class="clearfix">
                <img src="/img/chat_avatar_01.jpg" alt="avatar"/>
                <div class="about">
                    <div class="name">Arturo</div>
                    <div class="status">
                        <i class="fas fa-circle online"></i> online
                    </div>
                </div>
            </li>

            <li class="clearfix">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_02.jpg" alt="avatar"/>
                <div class="about">
                    <div class="name">You</div>
                    <div class="status">
                        <i class="fas fa-circle online"></i> online
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="chat">
        <div class="chat-header clearfix">
            <img src="/img/chat_avatar_01_green.jpg" alt="avatar"/>

            <div class="chat-about">
                <div class="chat-with">Chat with Arturo</div>
                <div class="chat-num-messages">Game over, papi</div>
            </div>
            <i class="fas fa-star"></i>
        </div> <!-- end chat-header -->

        <div class="chat-history">
            <ul id="message-queue"></ul>
            <div id="typing" style="visibility: hidden" >
                Arturo is typing&nbsp;&nbsp;<img src="/img/typing.gif">
            </div>
        </div> <!-- end chat-history -->

        <div class="chat-message clearfix">
            <textarea name="message-to-send" id="message-to-send" autofocus placeholder="Type your message" rows="3"></textarea>

            <button id="send-button">Send</button>

        </div> <!-- end chat-message -->

    </div> <!-- end chat -->

</div> <!-- end container -->

<script id="message-template" type="text/x-handlebars-template">
    <li class="clearfix">
        <div class="message-data align-right">
            <span class="message-data-time">{{time}}, Today</span> &nbsp; &nbsp;
            <span class="message-data-name">You</span> <i class="fas fa-circle me"></i>
        </div>
        <div class="message other-message float-right">
            {{message}}
        </div>
    </li>
</script>

<script id="message-response-template" type="text/x-handlebars-template">
    <li>
        <div class="message-data">
            <span class="message-data-name"><i class="fas fa-circle online"></i> Arturo</span>
            <span class="message-data-time">{{time}}, Today</span>
        </div>
        <div class="message my-message">
            {{message}}
        </div>
    </li>
</script>

</html>
